{% extends "layout.html" %}
{% block content %}
  <h2> Welcome To Tennis Stat!</h2>
  <br>
  <p>My string: {{names}}</p>
  <p>Value from the list: {{names[3]}}</p>
  <p>In our site, you can click the navigation bar up and select the player.</p>
  <p>You can click to view the Players' data, the current rankings and related stats in a specific tennis matches. </p>
  <p><a href="/players">Go to the players page</a></p>
  <p><a href="/ranking">Go to the ranking page</a></p>
  <p><a href="/matches">Go to the matches page</a></p>
  <p>Loop through the list:</p>
  <ul>
    {% for names in names %}
    <li>{{names}}</li>
    {% endfor %}
  </ul>

  <!--<h3> This is the end of my child template</h3>-->
{% endblock %}