{% extends "layout.html" %}
{% block content %}
<h2> Welcome To Tennis Stat!</h2>
<h3>This is the ranking page.</h3>
<br>
<p>Below is the top 10 players on the ranking board.</p>
<table id = 'ranking'>
    <thead>
    <th>Name</th>
    <th>Score</th>
    <th>Ranking</th>
    </thead>
    {% for item in top_10 %}
    <TR>
        <TD class="name"><a href="{{ url_for('player',pid=item['pid']) }}">{{item['name']}}</a></TD>
        <TD class="score">{{item.score}}</TD>
        <TD class="ranking">{{item.rank}}</TD>
    </TR>
    {% endfor %}
</table>

<form method="POST" action="/ranking/querydate">
    <p>Select date: <input type="text" name="name" value = '2018-03-09'><input type="submit" value="Go"></p>
</form>
<!--<p>{{week}}</p>-->
<!--<h3> This is the end of my child template</h3>-->
{% endblock %}